<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="jp.redmine.redmineclient"
	android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:allowClearUserData="true"
		android:installLocation="auto"
		android:description="@string/app_description"
		android:usesCleartextTraffic="true"
		android:restoreNeedsApplication="true"
		tools:ignore="UnusedAttribute">
        <activity android:name=".activity.SplashActivity"
        	  android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CommonPreferenceActivity"
		  android:label="@string/menu_settings"
		  android:exported="false"
		  android:configChanges="orientation|screenSize|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
        </activity>
        <activity android:name=".activity.ConnectionListActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
	    <activity android:name=".activity.ConnectionActivity"
                      android:configChanges="orientation|screenSize|keyboardHidden"
			/>
		<activity android:name=".activity.ConnectionEditActivity"
                	  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
	    <activity android:name=".activity.ProjectActivity"
        	      android:configChanges="orientation|screenSize|keyboardHidden"
			/>
	    <activity android:name=".activity.IssueActivity"
                      android:configChanges="orientation|screenSize|keyboardHidden"
			/>
	    <activity android:name=".activity.IssueFilterActivity"
	              android:configChanges="orientation|screenSize|keyboardHidden"
			/>
		<activity android:name=".activity.WikiViewActivity"
                          android:configChanges="orientation|screenSize|keyboardHidden"
			/>
        <activity android:name=".activity.ConnectionNaviActivity"
		  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
        <activity android:name=".activity.FilterViewActivity"
        	  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
		<activity android:name=".activity.AttachmentActivity"
				  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
		<activity android:name=".activity.TimeEntryActivity"
				  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
		<activity android:name=".activity.KanbanActivity"
				  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
		<activity android:name=".activity.AboutActivity"
				  android:configChanges="orientation|screenSize|keyboardHidden"
			/>
		<activity android:name=".activity.WebViewActivity"
				  android:configChanges="orientation|screenSize|keyboardHidden" />
		<provider
			android:name=".provider.Attachment"
			android:authorities="${applicationId}.attachment"
			tools:ignore="ExportedContentProvider"
			/>
    </application>

</manifest>
